*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}

#fundo {
    position: relative;
    background-color: #41423e;
    top: 50px;
    height: 380px;
    width: 350px;
    border-radius: 20px;
    box-shadow: 0 8px 40px rgba(0, 0, 0, 0.35);
}

.txt{
    position: relative;
    font-size: 22px;
    right: 80px;
    top: 40px;
}

.txt2{
    position: relative;
    font-size: 22px;
    right: 85px;
    top: 40px;
}


.i{
    position: relative;
    top: 45px;
    right: 15px;
    height: 35px;
    width: 200px;
    background-color: black;
    border-radius: 5px;
    padding-left: 5px;
    color: white;
}
.i:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}

.b{
    position: relative;
    top: 120px;
    height: 30px;
    width: 70px;
    font-size: 15px;
    background-color: #72c704;
    border-radius: 10px;
}
.b:hover{
    transform: scale(1.1);
    transition: 0.5s ease;
}